
body {font-family: Arial, Helvetica, sans-serif;
	font-weight: light; 
  background-color: lightblue;
}
#myCounter {display: inline-block;
	margin-left:35px;}
.counter {
	font-size: 1.5rem;   
    }
#myBtn {font-size:1.5rem;
    }
    h1 {margin-bottom:140px;}
    
